body {
    margin: 0;
    overflow: hidden;
}

header h3 {
    position: absolute;
    left: 20px;
}
.current-score h3 {
    top: 30px;
}

.game-over-msg {
    width: 500px;
    height: 250px;
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 250px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: red;
    border: 10px double black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px red;
    box-sizing: border-box;
    animation: game-over 1s;
}
.game-over-msg h1 {
    font-family: 'Bungee Inline', cursive;
    margin: 0 0 30px;
    font-weight: 100;
    font-size: 4rem;
    pointer-events: none;
}
.game-over-msg span {
    font-family:'Courier New', Courier, monospace;
    padding: 15px 30px;
    background: whitesmoke;
    border: 3px double black;
    box-shadow: 0px 0px 10px gray;
}

@keyframes game-over {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}